* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul,
ol {
    list-style: none;
}

img {
    vertical-align: middle;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
a {
    margin-top: 0;
    margin-bottom: 0;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1440px;
}