.navItems li {
    display: inline-block;
    margin: 0 30px;
}

.navItems li a {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color: #24262b;
    transition: all .3s ease-in-out .1s;
}

.navItems li a:hover {
    color: #f79837;
    transition: all .3s ease-in-out .1s;
}

.navItems li a.active {
    color: #f79837;
}

.navIcons li {
    display: inline-block;
    margin-right: 30px;
}

.navIcons li:hover i {
    transition: all .3s ease-in-out .1s;
    color: #f79837;
}

.navIcons li:last-child i {
    background: rgba(242, 232, 231, .5);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    letter-spacing: normal !important;
    display: block;
    border-radius: 50%;
}

.navIcons li i {
    color: #24262b;
    font-size: 22px;
    transition: all .3s ease-in-out .1s;
    position: relative;
}

.navIcons li i>span {
    display: inline-block;
    position: absolute;
    font-size: 11px;
    background: #f79837;
    color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0;
    font-weight: 600;
    right: -8px;
    bottom: 1px;
}